/* header */
.nav-section
{
  width: 95%;
  margin: auto;
  overflow: hidden;
}

ul 
{
  padding: 0;
  margin: 0;
}

header 
{
  background: #00f798a8;
  color: blueviolet;
  padding-top: 10px;
  min-height: 5px
}

header a 
{
  color: blueviolet;
  text-decoration: none;
  font-size: 12px;
}

header li 
{
  display: inline;
  padding:0 30px;;
}

header #nav-logo 
{
  float: left;
  margin: 15px 15px;
}

header #nav-logo h2,
header #nav-logo p 
{
   margin:0;
   padding:0;
   color:blueviolet;
}

header nav 
{
  float: right;
  margin-top: 15px;
}

/*body*/
.form 
{
  border: solid 1px blueviolet;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  line-height:1.5;
  height:100%;  
  font-size: 25px;
  border-radius: 23px;
  margin-left: 250px;
  float: left;
  width: 25%;
  padding: 2% 5%
}
.act 
{
  width:40%;
  margin:20px 0 20px 45px; 
  padding-top:80px
}

.act, h4
{
  color:blueviolet;
  font: 2em sans-serif;
  padding:0;
  margin:0
}

.act h3
{
  width: 528px;
  height: 100px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #5f5f5f
}

.act h4
{
  width: 482px;
  height: 74px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #5f5f5f;
  padding: px 11px 1px 1px
}

.log-in 
{
  font-weight: bold;
  color: blueviolet
}

.con 
{
  overflow: hidden;
  width: 95%;
  padding: 30px 0;
  margin: auto
}

.act 
{
  float: left;
  width: 43%;
  text-align: left;
  margin:0 20px
}

.for-input input[type=text],
.for-input input[type=email],
.for-input input[type=password] 
{
   width: 100%;
   border: 1px solid #5f5f5f;
   border-radius: 10px;
   height: 50px;
}

input[type=submit] 
{
  background-color:#00f798a8;
  border-radius: 5px;
  color: blueviolet;
  padding: 10px;
  text-decoration: none;
  margin:0 50px;
  font-size: 12px;
}

/*footer*/
.footer
{
  background-color:#00f798a8;
}
.footer-left,
.footer-center,
.footer-right
{
 float:left;
 width:33.33%;
 color:blueviolet;
}
.footer p
{
  margin:0 auto;
  display:block;
   margin-top:20px;
   color:blueviolet;
}
.footer-left ul
{
  list-style:none;
}
.footer a
{
  text-decoration:none;
  color:blueviolet;
  margin:0;
  padding:0;
}
.footer-center input
{
  margin-top:2px;
  border:1px solid blueviolet;
  height:30px;
}
::placeholder
{
  color:black;
  font-size:15.2px;
}
.footer-right img
{
  width:35px;
  height:30px;
}
@media screen and (min-width : 360px){
  .body{text-align: left}
}

